.left {
    text-align: justify;
    padding: 0;
    border-radius: 1px;
}

.content {
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px; 
  border-radius: 4px;
}

.content:hover {
  background-color: rgba(83, 83, 83, 0.815);
}

.image {
    border-radius: 7px;
    max-width: 550px;
    max-height: 730px;
    margin-left: 30px;
    margin-right: 20px;
    @media (max-width: 600px) {
      display: none
    }
}

.image-mobile {
  display: none;
  @media (max-width: 600px) {
    display: inline;
    max-width: 300px;
    max-height: 300px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.flex {
    display: flex;
    @media (max-width: 600px) {
      display: inline;
    }
}

.link {
    color: rgb(238, 238, 238);
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    text-decoration: none;
    transition: border-bottom 0.2s;
    }
    
    .link:hover {
        border-bottom: 2px solid rgb(238, 238, 238);
      }

.skills-content {
  padding: 15px;
  border-radius: 4px;
}

.skills-content:hover {
  background-color: maroon;
}

.skills {
  display: flex;
  justify-content: space-around;
}