.center-content {
  display: flex;
  justify-content: center;
}


.link {
  color: rgb(238, 238, 238);
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(238, 238, 238);
  display: inline-block;
  text-decoration: none;
  transition: border-bottom 0.2s;
}

.link:hover {
    border-bottom: 2px solid transparent;
  }