.title {
font-size: 50px;
  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.link {
    border-bottom: 1px solid #d2d4db;
    color: rgb(238, 238, 238);
    font-size: 22px;
    padding-bottom: 10px;
    text-decoration: gray;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .link:hover {
    border-bottom: 1px solid black;
  }
  
  @keyframes bounce-side {
    0% {
      left: 0;
    }
    20% {
      left: 10px;
    }
    40% {
      left: 0;
    }
    100% {
      left: 0;
    }
  }

  .link-arrow {
      position: relative;
      animation: bounce-side 3s infinite;
      animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    }


.scroll {
  color: white; 
  font-size: 55px;
  text-decoration: none;
}

  @keyframes bounce-up {
    0% {
      bottom: 0;
    }
    20% {
      bottom: 10px;
    }
    40% {
      bottom: 0;
    }
    100% {
      bottom: 0;
    }
  }

  .scroll-arrow {
    position: relative;
      animation: bounce-up 3s infinite;
      animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  }
