.project-pdp {
    background-color: grey;
    border-radius: 5px;
    transition: transform .2s;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.project-pdp:hover {
    transform: scale(1.05);
}

.project-Indecision {
    background-color: grey;
    border-radius: 5px;
    transition: transform .2s;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.project-Indecision:hover {
    transform: scale(1.05);
}

.content {
    color: white;
    margin-top: 25px;
    margin-right: 100px;
    margin-left: 70px;
    @media (max-width: 600px) {
        margin-left:20px;
    }
}

.description {
    font-size: 15px;
    text-align: justify;
}

.tools {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 0;
}

.tool {
    margin-right: 60px;
}

.tool-indecision {
    margin-right: 205px;
    @media (max-width: 600px) {
        margin-right: 115px;
    }
}

.link {
    margin-left: 25px;
}

.image-pdp {
    max-width: 1500px;
    width: 100%;
    height: 95.5%;
    margin-top: 25px;
    margin-bottom: 0;
    border-radius: 5px;
    @media (max-width: 600px) {
        display: none;
    }
}

.image-indecision {
    max-width: 1160px;
    width: 100%;
    height: 95.3%;
    margin-top: 27px;
    margin-bottom: 0;
    border-radius: 5px;
    @media (max-width: 600px) {
        display: none;
    }
}
