.project {
    background-color: rgba(182, 22, 22, 0.493);
    border-radius: 5px;
}

.project-content {
    margin-left: 5px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    max-width: 900px;
    padding: 0;
}

.nav-item {
    text-decoration: none;
}