.project {
    background-color: rgba(17, 3, 3, 0.158);
    border-radius: 5px;
    transition: transform .2s;
    max-width: 900px;
}

.project:hover {
    transform: scale(1.05);
}

.content {
    text-align: center;
    margin: 5px 25px 5px 25px;
    max-width: 900px;
}

.description {
margin-top: 10px;
margin-right: 12px;
margin-left: 12px;
max-width: 400px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    max-width: 900px;
    padding: 0;
}

.nav-item {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.tools-list {
    list-style-type: none;
    margin-right: 40px;
}

.tool {
    text-decoration: none;
    margin-right: 20px;
}

.image {
    max-width:600px;
    max-height: 600px;
    margin: 0 120px;
}

.tools-links {
    padding-top: 80px;
    margin-right: 175px;
}

.links {
    display: flex;
    list-style-type: none;
    padding-top: 20px;
}

.link {
    margin-left: 25px;
}